.carousel {
  position: relative;
}
.carouselInfo {
  background: linear-gradient(#7ee8e9, #c14bfb);
  border-radius: 40px;
  bottom: 8rem;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  left: 70%;
  margin-left: -40%;
  opacity: 0.8;
  padding: 1rem;
  position: absolute;
  transition: all .5s ease-in-out;
  text-align: center;
  transition: opacity .35s ease-in-out;
  width: 40%;

  &:hover {
    background: linear-gradient(#c14bfb,#7ee8e9);
    color: #333333;
  }

  @media (max-width: 767px) {
    bottom: 2rem;
    font-size: 16px;
    padding: 0.4rem;
    width: 40%;
  }
}
